
      <div id="about">
        <p>
            <b>Purpose:</b> Generate geophylogenies
        </p>
        <p>
            <b>Description:</b> Converts a phylogenetic tree and the tip taxa's geographic coordinates into a KML file for Google Earth viewing. This is the work of <a href="http://biodiversity.colorado.edu" alt="Andrew W. Hill's homepage">Andrew W. Hill</a>, Brian Stucky, and <a href="http://sites.google.com/site/robgur/">Robert Guralnick</a>. We will be working to add many new features as well as integrate the project with another of ours, <a href="http://phylobox.appspot.com" alt="Phylobox: Phylogenies on the Web">PhyloBox</a>.
        </p>
        <p>
            <b>Citation:</b> Hill AW and Guralnick RP (2010) GeoPhylo: an online tool for developing visualizations of phylogenetic trees in geographic space. Ecography 33: <i>tbd</i> (Version {{ version }}) [<a href="http://dx.doi.org/10.1111/j.1600-0587.2010.06312.x">HTML</a>] [<a href="https://docs.google.com/fileview?id=0B3T0pFRIJS26YzFhMjU0YmUtMWY5Zi00MTZiLTgxMmMtYWMzMGJiMDFlODFj&hl=en">PDF</a>]
        </p>
        <p>
            <b>Release:</b> {{ version }} (<i><a href="/static/help.html">documentation</a></i>)
        </p>
      </div>
